<p id="notice"><%= notice %></p>

<p>
  <strong>Band:</strong>
  <%= @booking.band_id %>
</p>

<p>
  <strong>Club:</strong>
  <%= @booking.club_id %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @booking.fee %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>




