<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Num members:</strong>
  <%= @band.num_members %>
</p>

<% @band.clubs.each do|q|%>
    <p><%= "Club: #{q.name}" %></p>
<% end %>

<% @band.bookings.each do|q|%>
    <p><%= "Band: #{q.date}" %></p>
<% end %>


<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
