<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @club.street_address %>
</p>


<% @club.bands.each do|q|%>
    <p><%= "Band: #{q.name}" %></p>
<% end %>

<% @club.bookings.each do|q|%>
    <p><%= "Date: #{q.date}" %></p>

    <p><% n=q.date-Date.today %></p>
    <p><%= "Only #{n.to_i} more days!" %></p>

<% end %>






<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
